@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .game {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    /* background-color: beige; */
  }

  .card {
    width: 9rem;
    height: 12rem;
    margin: 1rem;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

  .cardDiv {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    pointer-events: none;
    border-radius: 1rem;
  }

  .rotateY-180 {
    transform: rotateY(180deg);
  }

  .cardFace {
   background: #05d1fe;
   transform: rotateY( 180deg );
   color: black;
   font-size: 4rem;
  }

.cardBack {
  font-size: 4rem;
  border: 3px solid #05d1fe;
  font-size: 4rem;
  /* background: url(img/img2.png) center / contain no-repeat; */
}
}