@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    
  }
  
  .backface-visibility {
      backface-visibility: hidden;
  }

  .card .back {
    position: absolute;
  }
  
  .card .front {
    position: absolute;
  }
  
  .flipper {
    transform: rotateY(180deg);
  }
  
  .flipper.front {
    transform: rotateY(0deg);
  }


}
