@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .gridGame {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    opacity: 0.2;
  }
  
  .card {
    position: relative;
    width: 80px;
    height: 120px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .card.front {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: inherit;
  }
  
  .card.back {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: #ccc;
  }
  
  .front img {
    width: inherit;
    height: inherit;
  }
  
  .matched {
    border-color: green !important;
  }
  
  .matched::after {
    content: "✅";
  }
}